.account {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 60vw;
    margin: 10vh 20vw 0 20vw;
}

.account .title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 5%;
}

.account .sub-title {
    margin-top: 5vh;
}
