@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");

.header {
    padding: 0vh;
    overflow: hidden;
    max-width: 100vw;
}

.container-fluid {
    margin-left: 5%;
    margin-right: 5%;
}

#scanfcode {
    border-radius: 0px;
    background: #fff;
    padding: 10px;
    font-size: 17px;
}

#title {
    padding-left: 0%;
    font-size: 2rem;
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
    border: double 2px white;
    padding: 3px 20px;
    color: white;
}

#logbut {
    color: white;
    background-color: #3d348b;
}

.navbar {
    background-color: #7678ed;
}

nav .navbar-nav li a {
    color: white !important;
}
